* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Faster One', cursive;
}

.main-title {
    font-size: 7vw;
    color: #00ff00;
}

.section-welcome {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:
            linear-gradient(rgba(0,255,0,.8), transparent),
            url("../images/beautiful-dark-evening-29435.jpg");
    background-size: 100% 100px, cover;
    background-position: center top, center;
    background-attachment: scroll, fixed;
    background-repeat: no-repeat;
}

.section-gallery {
    background: #00FF00;
    min-height: 100vh;
    padding-top: 50px;
}

.gallery {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.gallery-element {
    width: 25%;
    padding: 1px;
}

.gallery-element span {
    padding-bottom: 56.25%;
    display: block;
    background-size: cover;
    background-position: center;
}


.gallery-bottom {
    text-align: center;
}

.gallery-load-more {
    cursor: pointer;
    display: inline-block;
    background: none;
    border: 3px solid #fff;
    color: #fff;
    text-transform: uppercase;
    border-radius: 40px;
    padding: 20px 50px;
    margin-top: 50px;
}